<div class="container_new">
  <div class="form_container">
    <h2>プロジェクト作成</h2>
    <div class="form_body">

      <% if @project.errors.any? %>
        <div class="form_error">
          <p>入力が不正です</p>
        </div>
      <% end %>

      <%= form_tag("/project/new_action") do %>
        <p>タイトル</p>
        <input name="title" value="<%= @title %>">
        <p>画像</p>
        <input name="image" type="file" value="<%= @image %>">
        <p>概要</p>
        <input name="overview" value="<%= @overview %>">
        <p>カテゴリ</p>
        <select name="category">
          <% Project.categories.each do |key, value| %>
            <option value="<%= key %>"><%= value %></option>
          <% end %>
        </select>
        <p>募集開始日時</p>
        <input name="recruitment_date_start" type="date" value="<%= @recruitment_date_start %>">
        <p>募集終了日時</p>
        <input name="recruitment_date_finish" type="date" value="<%= @recruitment_date_finish %>">
        <p>募集人数</p>
        <input name="target_number_of_people" value="<%= @target_number_of_people %>">
        <p>詳細</p>
        <input name="text" value="<%= @text %>">
        <input type="submit" value="作成">
      <% end %>
    </div>
  </div>
</div>
